.venv
.venv/

.venv_ocr

.vscode

# Environment variables
.env
.env.local

src/analysis/merge_rows

__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

src/data/*
src/data/markdown/*
src/data/ground_struct/*
src/data/pdfs/*
src/data/raw/*
src/data/push/*
src/data/grammar/*
src/data/results/*
src/data/reports/*
src/data/exports/*
src/data/contents/*
src/data/images/*
src/data/markdown/page_*
src/data/json/page_*
src/data/output/*
src/data/md_to_plain_text/*

src/data/cleaned_source.md
src/data/cleaned_file_2.md
src/data/cleaned_source.txt
*.txt
*.log

src/data/markdown

neo4j/data
neo4j/logs