.venv
.venv/

.venv_ocr

.vscode

# Environment variables
.env
.env.local

src/analysis/merge_rows

__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

src/data/ground_struct/*
src/data/pdfs/*
src/data/raw/*
src/data/push/*
src/data/grammar/*
src/data/results/*
src/data/reports/*
src/data/exports/*
src/data/contents/*
src/data/images/*
src/data/markdown/page_*
src/data/json/page_*